RewriteEngine On

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files ".env">
    Order allow,deny
    Deny from all
</Files>

RewriteRule ^app/ - [F,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^DB/ - [F,L]
RewriteRule ^docs/ - [F,L]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
